	*{
	margin:0;
	padding:0;
	list-style:none;
    text-decoration:none;
	font-family:'Dosis', cursive;
	}
nav{
	
	width:auto;
	height:48px;
    text-align:center!important;
	}
h1{
	text-align:center!important;
}
h2{
	text-align:center!important;
}

footer{
	background-size: auto ;
  	background-color: #000;
    font-family: 'Dosis', cursive;
    color: #fff;
	width:auto;
	height:auto;
    text-align:center!important;
	}



#pic{
  position:relative;
  width:200px;
  height:200px;
  border-radius:100%;
}

#about{
  width: auto;
    height: auto;
    background-size: auto 800px;
	padding:20px;
  	background-color: background-color:#607d8b!important;
	text-align:justify!important;
	font-size: 30px;
}
#calendar{
	width:35px;
	height:35px;
}

#resume{
display:flex;
flex-direction:column;
justify-content: space-between;
	width: auto;
    height: 50%;
    background-size: auto ;
  	background-color: #000;
    font-family: 'Dosis', cursive;
    color: #fff;
  text-align:justify!important;
  font-size: 30px;
  padding:30px;
}
#jobs{
		text-align:justify;
	font-size: 30px;
	padding:7px;
	
}



#work{
  width: auto;
    height: 300px;
    background-size: auto 700px;
  	background-color: #6699ff;
}
#contact{

  width: auto;
    height: auto;
    background-size: auto;
	padding:20px 0 20px 0;
  	background-color: background-color:#607d8b!important;
	    font-family: 'Dosis', cursive;
	text-align:center!important;
	font-size: 30px;
}
#social
{
	display: flex;
    justify-content: space-around;
	position:relative;
	margin:15px;
	width:auto;
	height:auto;
	padding:10px;

}
#social ul li{
float:left;
width:auto;
height:auto;
}
#pic-redes
{
  position:relative;
  width:60px;
  height:60px;
  border-radius:100%;
}
.progress-bar{
width:150px;
height:25px;
border-radius:7px 7px 7px 7px; 
color:#000!important;
background-color:#f1f1f1!important;
font-size:15px;
text-align:center;
}
.progress-percent{
width:150px;
height:25px;
border-radius:7px 7px 7px 7px; 
color:#000!important;
background-color:#79a6d2!important;
font-size:12px;
text-align:center;
 font-family: 'Dosis', cursive;
}

.knowledge{
display: flex;
    justify-content: space-around;
	position:relative;
	margin:15px;
	width:auto;
	height:auto;
	padding:10px;
}
.knowledge ul li{
float:left;
width:300px;
height:auto;
}



.header{
  width: auto;
  height: 50%;
   background-size: auto ;
  background-color: #000;
  font-family: 'Dosis', cursive;
  color: #fff;
  text-align:center!important;
  font-size:30px;
  padding:25px 0 25px 0;
  
 
}

.button{
  display:block;
  	width:auto;
	margin:10px;
	background:#000;
  	font-family: 'Dosis', cursive;
	color:white;
  font-size:25px;
	text-align:center;
padding-top:24px!important;
  padding-bottom:16px!important
  
}
.button-hover:hover{
  color:#fff!important;
  background-color:#616161!important
}

